:root {
  --bgmain: #1B1E1D;
  --bgdark: #121414;
}

p {
  margin: 0;
}

html {
  overflow-y: scroll; /* Ensures scrollbar space is reserved */
  scrollbar-gutter: stable; /* Keeps layout consistent */
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bgmain);
  color: azure;
  margin: 0;
  padding: 0;
}


#add-gamemode {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

#days {
  font-size: 16px;
}

.specialbtn {
  background: linear-gradient(to bottom, #3498db, #207cca); /* Blue gradient */
  border: none;
  color: azure;
  padding: 6px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

select {
  height: fit-content; /* Adjust to match button height */
  padding: 4px 6px; /* Adjust to match button padding */
  font-size: 14px; /* Adjust to match button font size */
  border: 1px solid #ccc; /* Adjust border to match button style */
  border-radius: 4px; /* Adjust border radius to match button style */
  background-color: white; /* Adjust background color to match button style */
  cursor: pointer;
  box-sizing: border-box;
}

input {
  height: fit-content; /* Adjust to match button height */
  padding: 4px 6px; /* Adjust to match button padding */
  font-size: 14px; /* Adjust to match button font size */
  border: 1px solid #ccc; /* Adjust border to match button style */
  border-radius: 4px; /* Adjust border radius to match button style */
  background-color: white; /* Adjust background color to match button style */
  cursor: pointer;
  box-sizing: border-box;
}

#selected-gamemodes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

#maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 16px;
}

#filters-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.map-card {
  position: relative; /* Needed for absolute positioning of child elements */
  width: 270px;
  height: 250px;
  background-color: rgb(102, 106, 109);
  border-radius: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.map-card:hover {
  transform: scale(1.05);
}

.map-card img {
  width: 100%;
  height: 100%; /* Ensure the image covers the entire card */
  object-fit: cover;
  -webkit-user-drag: none;
}

.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);

  color: rgb(245, 245, 219);
  padding: 8px 8px 12px;
  text-align: center;
}

.title-overlay p:first-child {
  font-size: 20px;
  font-weight: bold;
  margin: 2px 0;
}

.small-title-text {
  margin: 0;
  font-size: 14px;
  color: rgba(245, 245, 219, 0.8);
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  backdrop-filter: blur(3px); /* Apply blur to the background behind the overlay */
  color: beige;
  padding: 8px 12px;
  text-align: left;
  max-height: fit-content;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.text-overlay.detailed {
  max-height: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
}

.text-overlay p {
  font-size: 14px;
  margin: 2px 0;
}


.gamemode-tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

.remove-tag {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}

.remove-tag:hover {
  color: #ff0000;
}

.detailed-info {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  border-radius: 5px;
}

.map-card .map-button {
  position: absolute;
  top: 32%;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
}

.map-card .map-button:hover {
  background-color: #0056b3;
}

.bottom {
  display: flex;
  justify-content: center;
  color: #ccccccbe;
  font-size: 12px;
}

.bottom a:visited { text-decoration: none; color: #ccccccbe;}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#mode-switch {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping when needed */
  justify-content: end;
  align-items: center;
  gap: 5px;
}

#mode-switch-text {
  min-width: 150px; /* Ensures text takes up space and wraps properly */
}

#mode-switch p {
  margin: 0;
  text-align: end;
}

#options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 20px max(6vw, 30px);
  background-color: var(--bgdark);
  gap: 10vw;
}


#display-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

#gamemode-selector {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
}

#gamemode-selector-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.grey-text {
  color: grey;
}

.size-btn {
  background: linear-gradient(to bottom, #3498db, #207cca); /* Blue gradient */
  color: black;
  border: none;
  color: azure;
  padding: 6px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.selected-size {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #246aac, #145197);
}

#order-selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#map-size-selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#map-size-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.size-btn {
  flex-grow: 1;
  text-align: center;
}